/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@theme {
  --color-primary: var(--color-teal-900);
  --color-secondary: var(--color-teal-600);
  --color-bg: var(--color-stone-50);
  --color-divider: var(--color-stone-300);
  --color-foreground: var(--color-stone-900);
}